# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart/Pub related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# macOS related
.DS_Store

# Sensitive data files
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
windows/Runner/GoogleService-Info.plist

# Key files
**/*.keystore
**/*.jks
android/key.properties

# Gradle files
android/.gradle
android/local.properties
android/gradle/wrapper/gradle-wrapper.properties

# Xcode files
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Flutter/flutter_assets/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/

# Generated files
**/GeneratedPluginRegistrant.*
**/flutter_export_environment.sh

# Temporary files
*.swp
*.tmp
*.log

# Other
.idea/
.history